.popup--background {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.popup--content {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  width: 50%;
  margin: 200px auto;
  border-radius: 3px;
  overflow: hidden;

  transition: width 0.5s;
}

.popup--header {
  margin: 0;
  padding: 10px;
  background-color: #ccc;
}

.popup--message {
  margin: 0;
  padding: 10px;
}

.popup--btn {
  align-self: center;

  border: 1px solid #bbb;
  border-radius: 1px;
  width: 87px;
  text-align: center;
  padding: 10px;
  margin: 20px 6px 10px 0;
  cursor: pointer;
  background-color: #ddd;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}

.popup--btn:hover {
  background-color: #ddd;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.active {
  width: 100vw;
}
